@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Montserrat Alternates";
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  
  margin-top: 5px;
  margin-bottom: 5px;
}

.logo {
  font-family: "Montserrat Alternates";

  font-weight: 700;
  color: #4CAF50;
}
.logo a {
    color: #35821E;
    text-decoration: none;
}

.menu a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
}

.menu .active {
  color: #4CAF50;
  font-weight: 600;
}

.auth a {
  margin-left: 15px;
  text-decoration: none;
  font-size: 13px;
  color: #333;
}


.hero {
  background: #998D99;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}

.hero-text p {
  font-size: 18px;
  margin-left: 100px;
}

.hero-text h1 {
  font-size: 36px;
  margin-top: 10px;
  margin-left: 100px;
}


.shop {
  padding: 60px;
}

.category {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}

.category span {
  padding: 8px 20px;
  border-radius: 20px;
  background: #f1f1f1;
  cursor: pointer;
  font-size: 14px;
  gap: 50px;
  
}

.category .active {
  background: #e2e1e1;
  color: #000000;
  padding-left: 30px;
  padding-right: 30px;
  
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}


.card {
  position: relative;          
  overflow: hidden;
  
}


.card img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  display: block;
}


/* .card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.65),
    rgba(0,0,0,0)
  );
} */


.card-text {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  z-index: 1;
}
.card-text a {
    text-decoration: none;
    color: #ffffff;
}

.card-text .type {
  font-size: 13px;
  opacity: 0.9;
}

.card-text h3 {
  font-size: 18px;
  margin: 6px 0;
}

.card-text .price {
  font-size: 16px;
  margin-bottom: 10px;
}


.card-text button {
  background: rgba(163, 163, 163, 0.6);
  color: white;
  border: none;
  padding: 8px 14px;
  padding-left: 10px;
  margin-left: 0px;

  font-size: 13px;
  cursor: pointer; /* 손 모양 안 뜨게 하는 코드 */
  
}


.bottom-banner {
  background: #d7b73e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 60px;
  color: #fff;
  margin-top: 80px;
  padding-left: 200px;
}

.bottom-banner h2 {
  font-size: 32px;
}

.bottom-banner img {
  width: 300px;
  margin-right: 100px;
  
}
.banner-text p {
    font-size: 30px;
    color: #000000;
}
.banner-text h2 {
    font-size: 45px;
}
